.App {
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 200px 200px 200px;

}
.b3{
  margin-top: 10px;
  grid-column: 1/span 3;
  font-size:40px;
  font-weight: 700;
  background-color: blue;
  color: wheat;
}
.b1
{
  font-size:40px;
  font-weight: 400;
}
.b2
{
  font-size:40px;
  font-weight: 400;
}
.p
{
  font-size:40px;
  font-weight: 400;
 
}
